.hero {
  position: relative;
  height: 100%;
  padding-bottom: 80px;
  background: #4f2f60 url("https://miguelquispe.com/pen//hero.jpg") center top
    no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  width: 100%;
}

.hero h1 {
  margin: 50px 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}
.hero h1 span {
  font: 700 60px/1 "Dancing Script", cursive;
  display: block;
}
.hero h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-weight: 400;
  padding: 20px;
}
.card {
  cursor: pointer;
  background-color: #f8f9fa; 
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #e2e6ea; 
}
/* in your home.css or a relevant stylesheet */
.carousel-control-prev-icon-dark, .carousel-control-next-icon-dark {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  padding-top: 5%;
}
